In [0]:
USE CATALOG hive_metastore;

In [0]:
CREATE TABLE employee (
  id INT,
  name STRING,
  salary DOUBLE
);

In [0]:
INSERT INTO employee
VALUES
(1, 'John', 5000.3),
(2, 'Jane', 4000.0),
(3, 'Bob', 7000.2);

INSERT INTO employee
VALUES
(4, 'Alice', 1000.4);

INSERT INTO employee
VALUES
(5, 'Charlie', 9000.5);

INSERT INTO employee
VALUES
(6, 'Arnold', 8400.5)

In [0]:
SELECT *
FROM employee;

In [0]:
-- Metadata
DESCRIBE DETAIL employee;

In [0]:
%fs ls 'dbfs:/user/hive/warehouse/employee'

In [0]:
UPDATE employee
SET salary = salary * 1.1
WHERE name LIKE 'A%';

In [0]:
SELECT *
FROM employee;

In [0]:
%fs ls 'dbfs:/user/hive/warehouse/employee'

In [0]:
-- Metadata
DESCRIBE DETAIL employee;

In [0]:
DESCRIBE HISTORY employee;

In [0]:
%fs ls 'dbfs:/user/hive/warehouse/employee/_delta_log'

In [0]:
%fs head 'dbfs:/user/hive/warehouse/employee/_delta_log/00000000000000000005.json'