In [0]:
USE CATALOG hive_metastore;

CREATE TABLE IF NOT EXISTS smarthphones (
  id INT,
  name STRING,
  brand STRING,
  year INT);

  INSERT INTO smarthphones VALUES
  (1, 'iPhone 12', 'Apple', 2020),
  (2, 'Pixel 4', 'Google', 2020),
  (3, 'Galaxy S21', 'Samsung', 2021),
  (4, 'iPhone 13', 'Apple', 2021),
  (5, 'Pixel 5', 'Google', 2021),
  (6, 'Galaxy S22', 'Samsung', 2022),
  (7, 'iPhone 14', 'Apple', 2022),
  (8, 'Pixel 6', 'Google', 2022),
  (9, 'Galaxy S23', 'Samsung', 2023),
  (10, 'iPhone 15', 'Apple', 2023);

In [0]:
SHOW TABLES;

In [0]:
CREATE OR REPLACE VIEW view_apple_phones 
AS
SELECT * FROM smarthphones 
WHERE brand = 'Apple';

In [0]:
SELECT * FROM view_apple_phones;

In [0]:
SHOW TABLES;

In [0]:
CREATE TEMP VIEW temp_view_phones_brands AS
SELECT brand, COUNT(*) AS total FROM smarthphones GROUP BY brand;

In [0]:
SELECT * FROM temp_view_phones_brands;

In [0]:
SHOW TABLES;

In [0]:
CREATE GLOBAL TEMPORARY VIEW global_temp_view_lastest_phones AS
SELECT * FROM smarthphones WHERE year > 2022;

In [0]:
SELECT * FROM global_temp.global_temp_view_lastest_phones;

In [0]:
SHOW TABLES;

In [0]:
SHOW TABLES IN global_temp;